<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>crm</display-name>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!--过滤器-->
  <filter>
    <filter-name>Encoding</filter-name>
    <filter-class>com.myCRM.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Encoding</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>Login</filter-name>
    <filter-class>com.myCRM.web.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Login</filter-name>
    <url-pattern>*.do</url-pattern>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>

  <!--监听器-->
  <listener>
    <listener-class>com.myCRM.web.listener.ApplicationListener</listener-class>
  </listener>


  <!--用户登录-->
    <servlet>
      <servlet-name>UserController</servlet-name>
      <servlet-class>com.myCRM.Settings.web.controller.UserController</servlet-class>
    </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/setting/user/login.do</url-pattern>
  </servlet-mapping>

  <!--市场页面控制器-->
  <servlet>
    <servlet-name>ActivityController</servlet-name>
    <servlet-class>com.myCRM.workbench.Web.controller.ActivityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityController</servlet-name>
    <url-pattern>/workbench/activity/getUserList.do</url-pattern>
    <url-pattern>/workbench/activity/insert.do</url-pattern>
    <url-pattern>/workbench/activity/getList.do</url-pattern>
    <url-pattern>/workbench/activity/delete.do</url-pattern>
    <url-pattern>/workbench/activity/edit.do</url-pattern>
    <url-pattern>/workbench/activity/update.do</url-pattern>
    <url-pattern>/workbench/activity/detail.do</url-pattern>
    <url-pattern>/workbench/activity/getMessage.do</url-pattern>
    <url-pattern>/workbench/activity/deleteRemark.do</url-pattern>
    <url-pattern>/workbench/activity/savaRemark.do</url-pattern>
  </servlet-mapping>

  <!--线索控制器-->
  <servlet>
    <servlet-name>ClueController</servlet-name>
    <servlet-class>com.myCRM.workbench.Web.controller.ClueController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClueController</servlet-name>
    <url-pattern>/workbench/clue/getUserList.do</url-pattern>
    <url-pattern>/workbench/clue/savaClue.do</url-pattern>
    <url-pattern>/workbench/clue/PageList.do</url-pattern>
    <url-pattern>/workbench/clue/detail.do</url-pattern>
    <url-pattern>/workbench/clue/activity_clue.do</url-pattern>
    <url-pattern>/workbench/clue/delete_activity_clue.do</url-pattern>
    <url-pattern>/workbench/clue/relationList.do</url-pattern>
    <url-pattern>/workbench/clue/bund.do</url-pattern>
    <url-pattern>/workbench/clue/showSearchModal.do</url-pattern>
    <url-pattern>/workbench/clue/form.do</url-pattern>
  </servlet-mapping>

  <!--交易模块-->
  <servlet>
    <servlet-name>TranController</servlet-name>
    <servlet-class>com.myCRM.workbench.Web.controller.TranController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TranController</servlet-name>
    <url-pattern>/workbench/transaction/add.do</url-pattern>
    <url-pattern>/workbench/transaction/getCustomerName.do</url-pattern>
    <url-pattern>/workbench/transaction/createSate.do</url-pattern>
    <url-pattern>/workbench/transaction/save.do</url-pattern>
    <url-pattern>/workbench/transaction/PageList.do</url-pattern>
    <url-pattern>/workbench/transaction/detail.do</url-pattern>
    <url-pattern>/workbench/transaction/getHistoryByTranId.do</url-pattern>
    <url-pattern>/workbench/transaction/getChars.do</url-pattern>
  </servlet-mapping>


</web-app>
































